# ---------------------------------
# Локальные зависимости и сборки
# ---------------------------------
node_modules
.next

# ---------------------------------
# IDE и Системные файлы
# ---------------------------------
.vscode
.idea
.DS_Store

# ---------------------------------
# Git и Docker
# ---------------------------------
.git
.dockerignore
Dockerfile
docker-compose.yml

# ---------------------------------
# Секреты и локальные окружения
# ---------------------------------
.env
.env.local

# ---------------------------------
# Документация и логи
# ---------------------------------
README.md
docs/
*.log
npm-debug.log*
yarn-debug.log*

# ---------------------------------
# Тесты и Dev-конфиги
# ---------------------------------
playwright.config.ts
vitest.config.mts
i18next.config.json